In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

2023-04-06 15:45:55.612041: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-06 15:45:55.612098: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [10]:
dataframe = pd.read_csv("train csv 2 - skripsi csv 2.csv.csv")

train, test = train_test_split(dataframe, test_size=0.2)
val = pd.read_csv("val csv - Sheet1.csv")

In [12]:
# importing necessary libraries
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
  
# loading the iris dataset
df_train = pd.read_csv("train csv 2 - skripsi csv 2.csv.csv")
df_test = pd.read_csv("val csv - Sheet1.csv")

target = ["Dimanfaatakan Untuk"]
feature = ["Luas","Jarak pusat kota"]

X_train = df_train[feature]
X_test = df_test[feature]
y_train = df_train[target]
y_test = df_test[target]

    

  
# training a KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 2).fit(X_train, y_train)
  
# accuracy on X_test
accuracy = knn.score(X_test, y_test)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(X_test) 
cm = confusion_matrix(y_test, knn_predictions)

0.29411764705882354

/home/gusanwa/.local/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [13]:
knn_predictions

array(['Ruko', 'Kantor', 'Ruko', 'Ruko', 'Pasar', 'Pasar', 'Kantor',
       'Pasar', 'Sawah', 'Kantor', 'Kantor', 'Kantor', 'Kantor', 'Kantor',
       'Sawah', 'Pasar', 'Sawah'], dtype=object)

In [14]:
X_test

     Luas  Jarak pusat kota
0    2716              2031
1    6025               648
2     260              1192
3     200              2451
4    5784              2222
5    5872              2084
6    1735              1088
7    5055              2265
8    7165              1946
9     270              1658
10   1217              1128
11    335              1782
12    500              1762
13   1945               978
14  18110              2615
15  13155              2251
16   6065              2225

In [15]:
y_test

   Dimanfaatakan Untuk
0               Kantor
1               Kantor
2               Kantor
3               Kantor
4                Pasar
5                Pasar
6                Pasar
7            Perumahan
8            Perumahan
9                 Ruko
10                Ruko
11                Ruko
12                Ruko
13               Taman
14               Sawah
15               Sawah
16               Sawah

In [7]:
df_train

,No,Bentuk Pemanfaatan,Dimanfaatakan Untuk,Desa,Kecamatan,Jenis Hak,Jalan,Pengelola,Luas,Bujur,Lintang,Sumber_data,Bujur Desimal,Lintang Desimal,Bujur alun,Lintang alun,Jarak pusat kota,Jarak jalan utama,Tempat umum
0,40.0,Sewa,Ruko,NaN,NaN,HPL,NaN,Kantor,70,111.661.205,-7.548.428,Sewa - Kabupaten,111.661.205,7.548.428,112,8,18269,NaN,NaN
1,38.0,Sewa,Ruko,NaN,NaN,HPL,NaN,BPKAD,100,111.658.034,-7.548.136,Sewa - Kabupaten,111.658.034,7.548.136,112,8,17982,NaN,NaN
2,60.0,Sewa,Sawah,NaN,NaN,HPL,NaN,BPKAD,2000,111.654.082,-7.545.293,Sewa - Kabupaten,111.654.082,7.545.293,112,8,17771,NaN,NaN
3,28.0,Sewa,Perumahan,KELUN,KARTOHARJO,HGB,JL SRI SEDONO DAN JALAN SRI SEDANI,PERUMAHAN,16590,"33,315","36,214",Sewa Kota,11.155.525,760.356.666.666.667,112,8,5100,NaN,NaN
4,89.0,Pakai,Sawah,JOSENAN,TAMAN,PAKAI,Blok Sawah Kurupati,Patihan,4905,"30,529","40,454",NaN,111.508.816.666.667,767.423.333.333.333,112,8,5097,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,39.0,Sewa,Ruko,NaN,NaN,HPL,NaN,Ruko,2000,111.515.217,-7.624.166,Sewa - Kabupaten,111.515.217,7.624.166,112,8,574,NaN,NaN
81,11.0,Sewa,Pasar,KEJURON,TAMAN,HPL,Jl. Jend Sudirman,Dinas Pasar,15710,"31,278","37,882",Sewa - Kota,1.115.213,763.136.666.666.667,112,8,557,NaN,NaN
82,8.0,Sewa,Mall,KARTOHARJO,KARTOHARJO,HPL,Jl. Pahlawan dan Kalimantan,Bagian perlengkapan,5785,"31,228","37,609",Sewa - Kota,111.520.466.666.667,762.681.666.666.667,112,8,476,NaN,NaN
83,15.0,Pakai,Pasar,PANGONGANGAN,MANGUHARJO,PAKAI,Jl. Mayjend Sungkono,Dinas Pasar,2252,"30,775","37,828",Sewa - Kota,111.512.916.666.667,763.046.666.666.667,112,8,455,NaN,NaN
84,33.0,Sewa,Ruko,PANDEAN,TAMAN,HPL,Jl. Kutai-Agus Salim,NaN,1531,"31,042","37,877",Pakai PasarKota,111.517.366.666.667,763.128.333.333.333,112,8,253,NaN,NaN

In [4]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 4).fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)
  
# creating a confusion matrix
cm = confusion_matrix(y_test, dtree_predictions)

cm

array([[9, 2],
       [4, 2]])

In [5]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X_train, y_train)
gnb_predictions = gnb.predict(X_test)
  
# accuracy on X_test
accuracy = gnb.score(X_test, y_test)
print (accuracy)
  
# creating a confusion matrix
cm = confusion_matrix(y_test, gnb_predictions)
cm

0.6470588235294118

/home/gusanwa/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[11,  0],
       [ 6,  0]])